.container {
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

.content {
    padding: 70px 8px;
    }
.header {
    background-color: #ffffff;
    box-shadow: 1px 1px 18px #0e5c90;
    transition: all ease .5s;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 37;
}

.menu {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authentication {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.logged-user-info {
    display: flex;
    flex-wrap: wrap;
    color: #4f2f4c;
    font-size: 15px;
    flex-direction: column;
}

.authentication .logged-user-welcome {
    display: block;

    color: #4f2f4c;
    font-size: 17px;
}

.authentication .last-visit-info {
    display: block;
    font-size: 10px;
}

.authentication .sign-out-btn {
    display: flex;
}

.authentication .sign-out-btn button{
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 120px;
    color: #4f2f4c;
    background-color: white;
    cursor: pointer;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px #ff0080;
    border-radius: 5px;
    opacity: 0.65;
    outline: none;
}

.menu-list {
    width: 60%;
    padding: 0;
    text-transform: uppercase;
}

.menu-list button {
    margin-right: 8px;
    border: none;
    background: none;
}

.menu-list a {
    color: #4f2f4c;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-list a:hover {
    color: #FF0080;
}

.calendar {
}

.calendar .rbc-calendar, .events-filter {
    margin: 0 auto;
}

.hidden {
    display: none;
}
.calendar .rbc-calendar .rbc-month-view {
    height: 600px;
}

.calendar .rbc-calendar .category-cinema, .category-cinema {
    background-color: #FF0080;
}

.calendar .rbc-calendar .category-concert, .category-concert {
    background-color: #00C0B0;
}

.calendar .rbc-calendar .category-theatre, .category-theatre {
    background-color: #4f2f4c;
}

.calendar .rbc-time-content {
    border-top: none;
    padding-top: 0;
}
.calendar .rbc-time-view .rbc-time-header > .rbc-row:nth-of-type(2) {
    display: none;
}

.events-filter .filter-message, .events-filter .filter-buttons {
    display: inline-block;
    margin-right: 8px;
    color: #b8b8b8;
}

.events-filter .filter-buttons .show-all-events-btn {
    background-color: white;
    color: #929292
}

.events-filter button {
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 100px;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px #ffffff;
    border-radius: 5px;
    opacity: 0.65;
    outline: none;
}

.events-filter button.active {
    opacity: 1;
    box-shadow: -1px 1px 2px #b8b8b8,
                1px -1px 2px #b8b8b8,
                -1px -1px 2px #b8b8b8,
                1px 1px 2px #b8b8b8;
}

.event-preview {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: fixed;
    z-index: 88;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.85);
}

.event-preview .event-preview-inner {
    max-width: 700px;
    min-height: 200px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    box-shadow: 2px 2px 4px #b8b8b8,
                -2px 2px 4px #b8b8b8,
                -2px -2px 4px #b8b8b8;
    border-radius: 10px;
    background-color: #ffffff;;
}

.close-event-preview {
    width: 42px;
    height: 40px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background: rgba(103, 99, 109, 0.5);
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 1px #403c46,
            -1px -1px 1px #403c46,
            1px -1px 1px #403c46,
            -1px 1px 1px #403c46;
    line-height: 100%;
    color: rgb(255, 253, 245);
}

.event-preview-title {
    border-radius: 10px 10px 0 0;
    padding-top: 20px;
    height: 80px;
    width: 100%;
    box-shadow: 0px 3px 4px #b8b8b8;
}

.event-preview-title h3{
    margin-left: 10px;
    vertical-align: middle;
    font-size: 24px;
    color: #fffafaba;
}

.event-preview-date {
    height: 30px;
    width: 100%;
    box-shadow: 0px 3px 4px #b8b8b8;
}

.event-preview-date p{
    margin-left: 10px;
    text-align: center;
    vertical-align: text-top;
    font-size: 15px;
    color: rgba(12, 0, 255, 0.73);
}

.event-preview-dsc {
    display:flex;
    justify-content: space-between;
    min-height: 400px;
    font-size: 15px;
    color: #403c46;
}

.event-preview-description {
    display: flex;
    width: 55%;
    padding: 12px;
}

.event-preview-picture {
    display: flex;
    width: 40%;
}

.event-preview-picture img {
    display: flex;
    width: 100%;
    max-height: 300px;
    margin: 0 auto;
    padding: 12px;
}

.event-preview-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 5px;
    text-align: center;
}

.event-preview-btns button {
    width: 220px;
    background-color: #888888;
    padding: 10px 20px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #888888;
    border-radius: 5px;
    opacity: 0.65;
    outline: none;

}

.event-preview-btns button:hover {
        background-color: #666666;
}

.save-event-btn {
    width: 100%;
    position: fixed;
    text-align: center;
    box-shadow: 2px 2px 4px #b8b8b8,
                -2px 2px 4px #b8b8b8,
                -2px -2px 4px #b8b8b8;
}

.save-event-btn button {
    background-color: #888888;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #888888;
    border-radius: 5px;
    opacity: 0.65;
    outline: none;
}

.sign-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-width: 200px;
    width: 100%;
    max-width: 300px;
    padding-top: 25vh;
}

.sign-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
}

.sign-form .sign-info {
    font-size: 17px;
}

.sign-form .sign-input input{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

.sign-form .sign-input input:focus{
    background-color: rgba(0, 8, 255, 0.07);
}

.sign-form .sign-in-button {
    margin: 0 auto;
}

.sign-form .sign-in-button button {
    padding: 10px;
    width: 100%;
    min-width: 200px;
    color: #4f2f4c;
    background-color: #b8b8b8;
    cursor: pointer;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px #ff0080;
    border-radius: 5px;
    opacity: 0.65;
    outline: none;
}

.sign-join-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-width: 200px;
    width: 100%;
    max-width: 300px;
    padding-top: 50px;
}

.sign-join-us button {
    padding: 10px;
    margin: 5px;
    width: 100%;
    min-width: 200px;
    color: #4f2f4c;
    background-color: #b8b8b8;
    cursor: pointer;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px #ff0080;
    border-radius: 5px;
    opacity: 0.65;
    outline: none;
}

.sign-up-modal {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: fixed;
    z-index: 88;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
}

.sign-up-modal .sign-up-modal-inner {
    max-width: 700px;
    min-height: 200px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    box-shadow: 2px 2px 4px #b8b8b8,
    -2px 2px 4px #b8b8b8,
    -2px -2px 4px #b8b8b8;
    border-radius: 10px;
    background-color: #ffffff;;
}

.close-sign-up-modal {
    width: 32px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 50px;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background: #d7d7d7;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 1px #9c9c9c,
    -1px -1px 1px #9c9c9c,
    1px -1px 1px #9c9c9c,
    -1px 1px 1px #9c9c9c;
    line-height: 100%;
    color: #ffffff;
}