.my-events-list{
    text-align: center ;
}
.event-list{
    list-style: none;
    padding: 10px;

}

.my-events-btn{
    margin-right: 5px;
}

.my-events-list-title{
    text-align: center;
}
.user-view-panel{
    background-color: lightgray;
    width: 30%;
    height: 100vh;
    border: 1px solid grey;
    box-shadow: 5px 0 15px grey;
}

.panel-hidden{
    display: none
}

/*My Event Filter styles*/
.filter-movie{
    background-color: cornflowerblue;
    border-radius: 5px;
}
.filter-concert{
    background-color: hotpink;
    border-radius: 5px;
}
.filter-sport{
    background-color: yellow;
    border-radius: 5px;
}